<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,8}</string>
                <key>spriteSourceSize</key>
                <string>{157,8}</string>
                <key>textureRect</key>
                <string>{{1691,1655},{157,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>EmptyBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,8}</string>
                <key>spriteSourceSize</key>
                <string>{157,8}</string>
                <key>textureRect</key>
                <string>{{1866,225},{157,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RedBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,8}</string>
                <key>spriteSourceSize</key>
                <string>{157,8}</string>
                <key>textureRect</key>
                <string>{{1875,1445},{157,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bolt_bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{1962,300},{19,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bolt_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{1973,1267},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bolt_silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{1973,1299},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{113,141}</string>
                <key>spriteSourceSize</key>
                <string>{169,175}</string>
                <key>textureRect</key>
                <string>{{1844,608},{113,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,39}</string>
                <key>spriteSourceSize</key>
                <string>{222,39}</string>
                <key>textureRect</key>
                <string>{{1868,1},{222,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crash1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{186,198}</string>
                <key>textureRect</key>
                <string>{{1096,1655},{186,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crash10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,960}</string>
                <key>spriteSourceSize</key>
                <string>{800,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,215}</string>
                <key>spriteSourceSize</key>
                <string>{203,215}</string>
                <key>textureRect</key>
                <string>{{1618,663},{203,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crash3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,205}</string>
                <key>spriteSourceSize</key>
                <string>{211,205}</string>
                <key>textureRect</key>
                <string>{{1701,868},{211,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crash4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,215}</string>
                <key>spriteSourceSize</key>
                <string>{224,215}</string>
                <key>textureRect</key>
                <string>{{1618,446},{224,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,219}</string>
                <key>spriteSourceSize</key>
                <string>{239,219}</string>
                <key>textureRect</key>
                <string>{{249,1569},{239,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,221}</string>
                <key>spriteSourceSize</key>
                <string>{246,221}</string>
                <key>textureRect</key>
                <string>{{1,1569},{246,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,222}</string>
                <key>spriteSourceSize</key>
                <string>{248,222}</string>
                <key>textureRect</key>
                <string>{{1618,1},{248,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,219}</string>
                <key>spriteSourceSize</key>
                <string>{246,219}</string>
                <key>textureRect</key>
                <string>{{1618,225},{246,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,165}</string>
                <key>spriteSourceSize</key>
                <string>{184,165}</string>
                <key>textureRect</key>
                <string>{{1701,1278},{184,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{1605,868},{93,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{1876,330},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{1909,115},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{1887,1377},{82,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{719,1569},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,84}</string>
                <key>spriteSourceSize</key>
                <string>{103,84}</string>
                <key>textureRect</key>
                <string>{{1908,1057},{103,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{1885,1560},{82,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,84}</string>
                <key>spriteSourceSize</key>
                <string>{103,84}</string>
                <key>textureRect</key>
                <string>{{1890,1162},{103,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{1908,845},{104,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemyBlue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{1876,330},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyBlue5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,84}</string>
                <key>spriteSourceSize</key>
                <string>{97,84}</string>
                <key>textureRect</key>
                <string>{{825,1556},{97,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemyGreen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{1873,1644},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyGreen5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,84}</string>
                <key>spriteSourceSize</key>
                <string>{97,84}</string>
                <key>textureRect</key>
                <string>{{1887,1278},{97,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemyRed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{1873,1730},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyRed2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{1908,951},{104,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemyRed3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,84}</string>
                <key>spriteSourceSize</key>
                <string>{103,84}</string>
                <key>textureRect</key>
                <string>{{1876,225},{103,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemyRed5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,84}</string>
                <key>spriteSourceSize</key>
                <string>{97,84}</string>
                <key>textureRect</key>
                <string>{{1885,1461},{97,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>engine1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,23}</string>
                <key>spriteSourceSize</key>
                <string>{38,23}</string>
                <key>textureRect</key>
                <string>{{1833,1789},{38,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,11}</string>
                <key>spriteSourceSize</key>
                <string>{800,11}</string>
                <key>textureRect</key>
                <string>{{1605,1},{800,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expEmpty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{797,11}</string>
                <key>spriteSourceSize</key>
                <string>{797,11}</string>
                <key>textureRect</key>
                <string>{{1,1556},{797,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,690}</string>
                <key>spriteSourceSize</key>
                <string>{600,690}</string>
                <key>textureRect</key>
                <string>{{1099,963},{600,690}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,31}</string>
                <key>spriteSourceSize</key>
                <string>{14,31}</string>
                <key>textureRect</key>
                <string>{{1964,723},{14,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteorBrown_med1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1047,1747},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pill_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{1835,845},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pill_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{1859,845},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pill_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{1883,845},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{1605,868},{93,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip2_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{1909,1},{112,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip3_damage3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,76}</string>
                <key>spriteSourceSize</key>
                <string>{97,76}</string>
                <key>textureRect</key>
                <string>{{490,1779},{97,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,108}</string>
                <key>spriteSourceSize</key>
                <string>{133,108}</string>
                <key>textureRect</key>
                <string>{{912,1747},{133,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{227,208}</string>
                <key>spriteSourceSize</key>
                <string>{343,312}</string>
                <key>textureRect</key>
                <string>{{490,1569},{227,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{188,196}</string>
                <key>textureRect</key>
                <string>{{1296,1655},{188,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{589,1779},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1701,1789},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1494,1655},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1767,1789},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{249,1790},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,200}</string>
                <key>spriteSourceSize</key>
                <string>{191,200}</string>
                <key>textureRect</key>
                <string>{{719,1655},{191,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{315,1790},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{381,1790},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,195}</string>
                <key>spriteSourceSize</key>
                <string>{187,195}</string>
                <key>textureRect</key>
                <string>{{1701,1081},{187,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,189}</string>
                <key>spriteSourceSize</key>
                <string>{182,189}</string>
                <key>textureRect</key>
                <string>{{912,1556},{182,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{1701,1445},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,170}</string>
                <key>spriteSourceSize</key>
                <string>{164,170}</string>
                <key>textureRect</key>
                <string>{{1701,1623},{164,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,160}</string>
                <key>spriteSourceSize</key>
                <string>{148,160}</string>
                <key>textureRect</key>
                <string>{{1844,446},{148,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,120}</string>
                <key>spriteSourceSize</key>
                <string>{127,120}</string>
                <key>textureRect</key>
                <string>{{1835,723},{127,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,39}</string>
                <key>spriteSourceSize</key>
                <string>{222,39}</string>
                <key>textureRect</key>
                <string>{{1,1792},{222,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{1973,1331},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{1973,1352},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,960}</string>
                <key>spriteSourceSize</key>
                <string>{800,960}</string>
                <key>textureRect</key>
                <string>{{803,1},{800,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{1962,201},{31,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{1962,234},{31,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{1962,267},{31,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1096,591}</string>
                <key>spriteSourceSize</key>
                <string>{1096,591}</string>
                <key>textureRect</key>
                <string>{{1,963},{1096,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1993,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e876007c47075770614aa5953ac1b4f:57d2b3b88a8e4e02d03c8b7e697a3ece:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
