<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user1</key>
	<dict>
		<key>atk</key>
		<integer>0</integer>
		<key>def</key>
		<integer>0</integer>
		<key>exp</key>
		<integer>0</integer>
		<key>gameLevel</key>
		<integer>0</integer>
		<key>hp</key>
		<integer>0</integer>
		<key>mp</key>
		<integer>0</integer>
		<key>planeLevel</key>
		<integer>0</integer>
		<key>planeType</key>
		<integer>2</integer>
		<key>saveDay</key>
		<string>2017/08/24</string>
		<key>saveTime</key>
		<string>22:16:32</string>
		<key>userName</key>
		<string>Panda</string>
	</dict>
	<key>user2</key>
	<dict>
		<key>atk</key>
		<integer>0</integer>
		<key>def</key>
		<integer>0</integer>
		<key>exp</key>
		<integer>0</integer>
		<key>gameLevel</key>
		<integer>0</integer>
		<key>hp</key>
		<integer>0</integer>
		<key>mp</key>
		<integer>0</integer>
		<key>planeLevel</key>
		<integer>0</integer>
		<key>planeType</key>
		<integer>1</integer>
		<key>saveDate</key>
		<string>22222</string>
		<key>saveTime</key>
		<string>22:22</string>
		<key>userName</key>
		<string>yiner</string>
	</dict>
	<key>user3</key>
	<dict>
		<key>atk</key>
		<integer>0</integer>
		<key>def</key>
		<integer>0</integer>
		<key>exp</key>
		<integer>0</integer>
		<key>gameLevel</key>
		<integer>0</integer>
		<key>hp</key>
		<integer>0</integer>
		<key>mp</key>
		<integer>0</integer>
		<key>planeLevel</key>
		<integer>0</integer>
		<key>planeType</key>
		<integer>3</integer>
		<key>saveDate</key>
		<string></string>
		<key>saveTime</key>
		<string></string>
		<key>userName</key>
		<string></string>
	</dict>
</dict>
</plist>
