<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>user1</key>
        <dict>
            <key>atk</key>
            <integer>10</integer>
            <key>userName</key>
            <string>a</string>
            <key>saveTime</key>
            <string></string>
            <key>saveDay</key>
            <string></string>
            <key>def</key>
            <integer>10</integer>
            <key>mp</key>
            <integer>500</integer>
            <key>exp</key>
            <integer>0</integer>
            <key>gameLevel</key>
            <integer>1</integer>
            <key>hp</key>
            <integer>500</integer>
            <key>planeLevel</key>
            <integer>10</integer>
            <key>planeType</key>
            <integer>1</integer>
        </dict>
        <key>user2</key>
        <dict>
            <key>atk</key>
            <integer>10</integer>
            <key>userName</key>
            <string>a</string>
            <key>saveTime</key>
            <string></string>
            <key>saveDay</key>
            <string></string>
            <key>def</key>
            <integer>10</integer>
            <key>mp</key>
            <integer>500</integer>
            <key>exp</key>
            <integer>0</integer>
            <key>gameLevel</key>
            <integer>2</integer>
            <key>hp</key>
            <integer>500</integer>
            <key>planeLevel</key>
            <integer>10</integer>
            <key>planeType</key>
            <integer>1</integer>
        </dict>
        <key>user3</key>
        <dict>
            <key>atk</key>
            <integer>10</integer>
            <key>userName</key>
            <string>a</string>
            <key>saveTime</key>
            <string></string>
            <key>saveDay</key>
            <string></string>
            <key>def</key>
            <integer>10</integer>
            <key>mp</key>
            <integer>500</integer>
            <key>exp</key>
            <integer>0</integer>
            <key>gameLevel</key>
            <integer>3</integer>
            <key>hp</key>
            <integer>500</integer>
            <key>planeLevel</key>
            <integer>10</integer>
            <key>planeType</key>
            <integer>1</integer>
        </dict>
    </dict>
</plist>
