<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>user1</key>
        <dict>
            <key>atk</key>
            <integer>0</integer>
            <key>userName</key>
            <string>王子昂</string>
            <key>_equip_head_b_load</key>
            <false/>
            <key>saveTime</key>
            <string>16:52:24</string>
            <key>saveDay</key>
            <string>2017/08/28</string>
            <key>def</key>
            <integer>0</integer>
            <key>mp</key>
            <integer>500</integer>
            <key>exp</key>
            <integer>0</integer>
            <key>gameLevel</key>
            <integer>1</integer>
            <key>hp</key>
            <integer>500</integer>
            <key>planeLevel</key>
            <integer>1</integer>
            <key>planeType</key>
            <integer>1</integer>
            <key>_equip_head_have</key>
            <false/>
            <key>_equip_head_load</key>
            <false/>
            <key>_equip_tail_c_have</key>
            <false/>
            <key>_equip_head_b_have</key>
            <false/>
            <key>_equip_head_c_have</key>
            <false/>
            <key>_equip_arm_have</key>
            <false/>
            <key>_equip_head_c_load</key>
            <false/>
            <key>_equip_arm_load</key>
            <false/>
            <key>_equip_arm_b_have</key>
            <false/>
            <key>_equip_arm_b_load</key>
            <false/>
            <key>_equip_arm_c_have</key>
            <false/>
            <key>_equip_tail_c_load</key>
            <false/>
            <key>_equip_arm_c_load</key>
            <false/>
            <key>_equip_tail_have</key>
            <false/>
            <key>_equip_tail_load</key>
            <false/>
            <key>_equip_tail_b_have</key>
            <false/>
            <key>_equip_tail_b_load</key>
            <false/>
        </dict>
        <key>user2</key>
        <dict>
            <key>atk</key>
            <string>10</string>
            <key>userName</key>
            <string></string>
            <key>saveTime</key>
            <string>00:45:17</string>
            <key>saveDay</key>
            <string>2017/08/27</string>
            <key>def</key>
            <string>10</string>
            <key>mp</key>
            <string>500</string>
            <key>exp</key>
            <string>0</string>
            <key>gameLevel</key>
            <string>1</string>
            <key>hp</key>
            <string>500</string>
            <key>planeLevel</key>
            <string>10</string>
            <key>planeType</key>
            <string>1</string>
        </dict>
        <key>user3</key>
        <dict>
            <key>atk</key>
            <string>10</string>
            <key>userName</key>
            <string></string>
            <key>saveTime</key>
            <string>00:45:17</string>
            <key>saveDay</key>
            <string>2017/08/27</string>
            <key>def</key>
            <string>10</string>
            <key>mp</key>
            <string>500</string>
            <key>exp</key>
            <string>0</string>
            <key>gameLevel</key>
            <string>1</string>
            <key>hp</key>
            <string>500</string>
            <key>planeLevel</key>
            <string>10</string>
            <key>planeType</key>
            <string>1</string>
        </dict>
    </dict>
</plist>
