<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>user1</key>
        <dict>
            <key>atk</key>
            <string>0</string>
            <key>userName</key>
            <string>啊啊</string>
            <key>saveTime</key>
            <string>22:55:49</string>
            <key>saveDay</key>
            <string>2017/08/27</string>
            <key>def</key>
            <string>0</string>
            <key>mp</key>
            <string>500</string>
            <key>exp</key>
            <string>0</string>
            <key>gameLevel</key>
            <string>1</string>
            <key>hp</key>
            <string>500</string>
            <key>planeLevel</key>
            <string>1</string>
            <key>planeType</key>
            <string>1</string>
        </dict>
        <key>user2</key>
        <dict>
            <key>atk</key>
            <integer>0</integer>
            <key>userName</key>
            <string>啊哈</string>
            <key>saveTime</key>
            <string>22:57:09</string>
            <key>saveDay</key>
            <string>2017/08/27</string>
            <key>def</key>
            <integer>0</integer>
            <key>mp</key>
            <integer>500</integer>
            <key>exp</key>
            <integer>0</integer>
            <key>gameLevel</key>
            <integer>1</integer>
            <key>hp</key>
            <integer>500</integer>
            <key>planeLevel</key>
            <integer>1</integer>
            <key>planeType</key>
            <integer>3</integer>
        </dict>
        <key>user3</key>
        <dict>
            <key>atk</key>
            <string>10</string>
            <key>userName</key>
            <string></string>
            <key>saveTime</key>
            <string>22:44:53</string>
            <key>saveDay</key>
            <string>2017/08/27</string>
            <key>def</key>
            <string>10</string>
            <key>mp</key>
            <string>500</string>
            <key>exp</key>
            <string>0</string>
            <key>gameLevel</key>
            <string>1</string>
            <key>hp</key>
            <string>500</string>
            <key>planeLevel</key>
            <string>10</string>
            <key>planeType</key>
            <string>1</string>
        </dict>
        <key>user4</key>
        <dict>
            <key>atk</key>
            <string>0</string>
            <key>userName</key>
            <string>aa</string>
            <key>saveTime</key>
            <string>22:46:10</string>
            <key>saveDay</key>
            <string>2017/08/27</string>
            <key>def</key>
            <string>0</string>
            <key>mp</key>
            <string>500</string>
            <key>exp</key>
            <string>0</string>
            <key>gameLevel</key>
            <string>1</string>
            <key>hp</key>
            <string>500</string>
            <key>planeLevel</key>
            <string>1</string>
            <key>planeType</key>
            <string>2</string>
        </dict>
        <key>user5</key>
        <dict>
            <key>atk</key>
            <string>0</string>
            <key>userName</key>
            <string>正正正</string>
            <key>saveTime</key>
            <string>22:53:12</string>
            <key>saveDay</key>
            <string>2017/08/27</string>
            <key>def</key>
            <string>0</string>
            <key>mp</key>
            <string>500</string>
            <key>exp</key>
            <string>0</string>
            <key>gameLevel</key>
            <string>1</string>
            <key>hp</key>
            <string>500</string>
            <key>planeLevel</key>
            <string>1</string>
            <key>planeType</key>
            <string>3</string>
        </dict>
    </dict>
</plist>
