<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerShip1_blue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{286,78},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,66}</string>
                <key>spriteSourceSize</key>
                <string>{25,66}</string>
                <key>textureRect</key>
                <string>{{82,102},{25,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip1_blue_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{325,78},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_blue_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,9}</string>
                <key>spriteSourceSize</key>
                <string>{25,9}</string>
                <key>textureRect</key>
                <string>{{1,115},{25,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{78,1},{99,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip1_orange_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{364,78},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_orange_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,66}</string>
                <key>spriteSourceSize</key>
                <string>{25,66}</string>
                <key>textureRect</key>
                <string>{{150,102},{25,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip1_orange_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{403,78},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_orange_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,9}</string>
                <key>spriteSourceSize</key>
                <string>{25,9}</string>
                <key>textureRect</key>
                <string>{{28,115},{25,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_red_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{442,78},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_red_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,66}</string>
                <key>spriteSourceSize</key>
                <string>{25,66}</string>
                <key>textureRect</key>
                <string>{{218,101},{25,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip1_red_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{481,78},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_red_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,9}</string>
                <key>spriteSourceSize</key>
                <string>{25,9}</string>
                <key>textureRect</key>
                <string>{{55,115},{25,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_blue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,75}</string>
                <key>spriteSourceSize</key>
                <string>{53,75}</string>
                <key>textureRect</key>
                <string>{{232,1},{53,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,55}</string>
                <key>spriteSourceSize</key>
                <string>{51,55}</string>
                <key>textureRect</key>
                <string>{{520,69},{51,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_blue_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,75}</string>
                <key>spriteSourceSize</key>
                <string>{53,75}</string>
                <key>textureRect</key>
                <string>{{287,1},{53,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_blue_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,21}</string>
                <key>spriteSourceSize</key>
                <string>{52,21}</string>
                <key>textureRect</key>
                <string>{{232,78},{52,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip2_orange_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,75}</string>
                <key>spriteSourceSize</key>
                <string>{53,75}</string>
                <key>textureRect</key>
                <string>{{342,1},{53,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_orange_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,55}</string>
                <key>spriteSourceSize</key>
                <string>{51,55}</string>
                <key>textureRect</key>
                <string>{{573,69},{51,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_orange_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,75}</string>
                <key>spriteSourceSize</key>
                <string>{53,75}</string>
                <key>textureRect</key>
                <string>{{397,1},{53,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_orange_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,21}</string>
                <key>spriteSourceSize</key>
                <string>{52,21}</string>
                <key>textureRect</key>
                <string>{{757,1},{52,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip2_red_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{588,1},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_red_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,55}</string>
                <key>spriteSourceSize</key>
                <string>{51,55}</string>
                <key>textureRect</key>
                <string>{{743,62},{51,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip2_red_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,75}</string>
                <key>spriteSourceSize</key>
                <string>{53,75}</string>
                <key>textureRect</key>
                <string>{{452,1},{53,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_red_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,21}</string>
                <key>spriteSourceSize</key>
                <string>{52,21}</string>
                <key>textureRect</key>
                <string>{{780,1},{52,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip3_blue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{37,61}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{640,1},{37,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,66}</string>
                <key>spriteSourceSize</key>
                <string>{25,66}</string>
                <key>textureRect</key>
                <string>{{507,1},{25,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_blue_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{626,67},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_blue_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,9}</string>
                <key>spriteSourceSize</key>
                <string>{25,9}</string>
                <key>textureRect</key>
                <string>{{743,115},{25,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,75}</string>
                <key>spriteSourceSize</key>
                <string>{98,75}</string>
                <key>textureRect</key>
                <string>{{155,1},{98,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerShip3_orange_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{37,61}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{665,64},{37,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_orange_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,66}</string>
                <key>spriteSourceSize</key>
                <string>{25,66}</string>
                <key>textureRect</key>
                <string>{{534,1},{25,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_orange_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{704,64},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_orange_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,9}</string>
                <key>spriteSourceSize</key>
                <string>{25,9}</string>
                <key>textureRect</key>
                <string>{{743,115},{25,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_red_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{37,61}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{679,1},{37,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_red_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,66}</string>
                <key>spriteSourceSize</key>
                <string>{25,66}</string>
                <key>textureRect</key>
                <string>{{561,1},{25,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_red_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{718,1},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_red_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,9}</string>
                <key>spriteSourceSize</key>
                <string>{25,9}</string>
                <key>textureRect</key>
                <string>{{743,115},{25,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>planeParts.png</string>
            <key>size</key>
            <string>{802,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bb87450bbce3d7b09f73dc5d6d9ad78:74099288abe9ccef922feeb26e363f4c:25acd5bb1542741a141c01e6bb9b1171$</string>
            <key>textureFileName</key>
            <string>planeParts.png</string>
        </dict>
    </dict>
</plist>
