<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,142}</string>
                <key>spriteSourceSize</key>
                <string>{112,142}</string>
                <key>textureRect</key>
                <string>{{1,1311},{112,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,124}</string>
                <key>spriteSourceSize</key>
                <string>{112,142}</string>
                <key>textureRect</key>
                <string>{{145,1311},{112,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{112,122}</string>
                <key>spriteSourceSize</key>
                <string>{112,142}</string>
                <key>textureRect</key>
                <string>{{271,1311},{112,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plane01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{395,1311},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,425}</string>
                <key>spriteSourceSize</key>
                <string>{622,425}</string>
                <key>textureRect</key>
                <string>{{515,1},{622,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{653,512}</string>
                <key>spriteSourceSize</key>
                <string>{653,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{653,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planet2Forbidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{653,512}</string>
                <key>spriteSourceSize</key>
                <string>{653,512}</string>
                <key>textureRect</key>
                <string>{{1,656},{653,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,518}</string>
                <key>spriteSourceSize</key>
                <string>{470,518}</string>
                <key>textureRect</key>
                <string>{{515,625},{470,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet3Forbidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,518}</string>
                <key>spriteSourceSize</key>
                <string>{470,518}</string>
                <key>textureRect</key>
                <string>{{515,1145},{470,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MapScene.png</string>
            <key>size</key>
            <string>{986,1664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:452ae9641c8ab390a14ac8e4942350bb:beb390720464c81cd91e698bedc894d9:25365edacd78c7357252c3d2bac2a365$</string>
            <key>textureFileName</key>
            <string>MapScene.png</string>
        </dict>
    </dict>
</plist>
