<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,960}</string>
                <key>spriteSourceSize</key>
                <string>{800,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{803,1},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,425}</string>
                <key>spriteSourceSize</key>
                <string>{622,425}</string>
                <key>textureRect</key>
                <string>{{1041,1029},{622,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{653,512}</string>
                <key>spriteSourceSize</key>
                <string>{653,512}</string>
                <key>textureRect</key>
                <string>{{1041,1},{653,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet2Forbidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{653,512}</string>
                <key>spriteSourceSize</key>
                <string>{653,512}</string>
                <key>textureRect</key>
                <string>{{1041,515},{653,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,518}</string>
                <key>spriteSourceSize</key>
                <string>{470,518}</string>
                <key>textureRect</key>
                <string>{{1,963},{470,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planet3Forbidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,518}</string>
                <key>spriteSourceSize</key>
                <string>{470,518}</string>
                <key>textureRect</key>
                <string>{{521,963},{470,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MapScene.png</string>
            <key>size</key>
            <string>{1695,1455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e201637d7224662ef4721a5d06f71af:7b486a2d234eaf9af54691fdf9b00bf8:25365edacd78c7357252c3d2bac2a365$</string>
            <key>textureFileName</key>
            <string>MapScene.png</string>
        </dict>
    </dict>
</plist>
