<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,142}</string>
                <key>spriteSourceSize</key>
                <string>{112,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,122}</string>
                <key>spriteSourceSize</key>
                <string>{112,122}</string>
                <key>textureRect</key>
                <string>{{1,145},{112,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,119}</string>
                <key>spriteSourceSize</key>
                <string>{112,119}</string>
                <key>textureRect</key>
                <string>{{1,269},{112,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{114,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69dc147c0ce8485d753071b4070150a8:4e32b3cb967175422d03d92c48782d24:592bb08bfb59882b4fb915a6935c1201$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
