<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,453}</string>
                <key>spriteSourceSize</key>
                <string>{258,453}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,453}</string>
                <key>spriteSourceSize</key>
                <string>{258,453}</string>
                <key>textureRect</key>
                <string>{{1,456},{258,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,453}</string>
                <key>spriteSourceSize</key>
                <string>{258,453}</string>
                <key>textureRect</key>
                <string>{{1,911},{258,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>createButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{1,1366},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>createButtonForbidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{1,1468},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>createButtonS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{261,1300},{250,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>editBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,45}</string>
                <key>spriteSourceSize</key>
                <string>{275,45}</string>
                <key>textureRect</key>
                <string>{{1,1570},{275,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane1_forbidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,431}</string>
                <key>spriteSourceSize</key>
                <string>{236,431}</string>
                <key>textureRect</key>
                <string>{{261,1},{236,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane1_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,431}</string>
                <key>spriteSourceSize</key>
                <string>{236,431}</string>
                <key>textureRect</key>
                <string>{{261,434},{236,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane3_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,431}</string>
                <key>spriteSourceSize</key>
                <string>{236,431}</string>
                <key>textureRect</key>
                <string>{{261,867},{236,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>createScene.png</string>
            <key>size</key>
            <string>{498,1616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a902e2cb396dc82191cb9894ce0b062:8bcfac08e970c202a3303efd7f4c1450:43b552120a9bfb7121652835816e2725$</string>
            <key>textureFileName</key>
            <string>createScene.png</string>
        </dict>
    </dict>
</plist>
